@tailwind base;
@tailwind components;
@tailwind utilities;

#points {
    perspective: 1000px;
}

@media only screen and (min-width: 1280px) {
    #points-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transform-style: preserve-3d;
        transform: rotateY(40deg);
        -webkit-transform: rotateY(40deg);
        -moz-transform: rotateY(40deg);
        -ms-transform: rotateY(40deg);
        -o-transform: rotateY(40deg);
    }
}

